{% extends "base.twig" %}

{% block title %} Gestion des personnages {% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/public/css/table.css">
{% endblock %}

{% block script %}
	<script type="text/javascript" src="/public/js/getUserInfos.js" defer></script>
	<script type="text/javascript" src="/public/js/SearchCharacter.js" defer></script>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-3">
			{% for flash in flashes %}
				<div class="alert alert-{{ flash.type }} alert-dismissible fade show" role="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					{{ flash.message|raw }}
				</div>
			{% endfor %}
		</div>
		<div class="row justify-content-center mt-3">
			<div class="col-12">
				<div class="card shadow-2-strong" style="background-color: #f5f7fa">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col">
								<select name="select-character-research" id="character-research">
									<option value="name" selected>Nom</option>
									<option value="id">ID</option>
								</select>
							</div>
							<div class="col-8">
								<input type="search" class="form-control" id="search" placeholder="Rechercher...">
							</div>
							<div class="col">
								<a href="{{ url_for('character-create') }}" class="form-control btn btn-sm btn-success">Créer un personnage</a>
								<button type="button" class="form-control btn-sm btn-primary mt-2" id="filtersBtn">Filters</button>
							</div>
						</div>
						<div class="row">
							<div class="section" id="filters" style="display: none;">
								<div class="mb-5 mt-3 ms-3">
									<div class="row">
										<div class="col-3">
											<h5 class="mb-4">Rarity</h5>
											{%  for rarity in rarities %}
												<div class="row mb-1">
													<div class="col-sm">
														<input type="radio" id="rarity" name="rarity" class="filter-btn" value="{{ rarity.value }}">
														<label class="filter" for="rarity">{{ rarity.value }}</label><br>
													</div>
												</div>
											{% endfor %}
										</div>
										<div class="col-3 ms-5 ps-5">
											<h5 class="mb-4">Color</h5>
											{% for color in colors %}
												<div class="row mb-1">
													<div class="col-sm">
														<input type="radio" id="color" name="color" class="filter-btn" value="{{ color.value }}">
														<label class="filter" for="color">{{ color.value }}</label><br>
													</div>
												</div>
											{% endfor%}
										</div>
										<div class="col-4 ms-5 ps-5">
											<div class="row mb-3">
												<h5 class="mb-4">Tags</h5>
												<select id="filterTags" class="form-control form-select" multiple name="Tags[]" onchange="search()">
													{% for tag in tags %}
														<option value="{{ tag.getName() }}">{{ tag.getName() }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<h5>Legends limited</h5>
										<div class="row form-group pt-3">
											<div class="col">
												<label class="form-check-label" for="updateIsLfCheckbox">Legends Limited</label>
												<input class="form-check-input filter-check" type="checkbox" name="updateIsLfCheckbox" id="updateIsLfCheckbox">
											</div>
											<div class="col-3">
												<button id="resetTags" class="btn btn-sm btn-secondary">Reinitialiser les filtres</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-borderless mb-0 table-striped" id="characters">
								<thead>
								<tr>
									<th class="text-center" scope="col">ID</th>
									<th class="text-center" scope="col">Image</th>
									<th class="text-center" scope="col">Rarity</th>
									<th class="text-center" scope="col">Legends Limited</th>
									<th class="text-center" scope="col">Name</th>
									<th class="text-center" scope="col">Color</th>
									<th class="text-center" scope="col">Tags</th>
								</tr>
								</thead>
								<tbody>
								{% for character in characters %}
									<tr class="character">
										<td class="fw-bold">{{ character.getImage() }}</td>
										<td class="image">
											<img draggable="false" id="characterImage"
												 src="/public/images/characters/{{ character.getImage() }}.png"
												 alt="Image de {{ character.getImage() }}" width="150" height="150">
										</td>
										<td class="image">
											<img draggable="false" id="characterRarity"
												 src="/public/images/rarities/{{ character.getRarity().value }}.png"
												 alt="Image de la rareté {{ character.getRarity().value }}">
										</td>
										<td class="image">
											{% if character.isLF() %}
												<img draggable="false" id="lf" src="/public/images/lf/LF.png"
													 alt="Image de LF" width="50" height="50">
											{% else %}
												<img draggable="false" id="notLF" src="/public/images/lf/NOTLF.png"
													 alt="Image de non LF" width="50" height="50">
											{% endif %}
										</td>
										<td id="characterName">{{ character.getName() }}</td>
										<td>
											<img draggable="false" id="characterColor"
												 src="/public/images/colors/{{ character.getColor().value }}.png"
												 alt="Image de la couleur {{ character.getColor().value }}" width="50">
										</td>
										<td id="characterTags">{{ character.getTagString() }}</td>
										<td>
											<a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal"
											   data-bs-target="#updateCharacterToMenuModal"
											   onclick="getUpdateUserInfos('{{ character.getImage() }}', '{{ character.getRarity().value }}', '{{ character.isLF() }}', '{{ character.getName() }}', '{{ character.getColor().value }}', '{{ character.getTagString() }}')">
												<i class="bi-pencil"></i>
											</a>
										</td>
										<td>
											<a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal"
												data-bs-target="#deleteCharacterModal"
											    onclick="getDeleteUserInfos('{{ character.getImage() }}', '{{ character.getName() }}')">
												<i class="bi-trash"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="modals">
		<div class="modal fade" id="updateCharacterToMenuModal" tabindex="-1"
			 aria-labelledby="updateCharacterToMenuModal"
			 aria-hidden="true">
			<div class="modal-xl modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="body modal-content">
					<div class="body-opaque modal-header">
						<p class="modal-title fs-5" id="updateCharacterToMenuModal">
							<span class="fs-5 h1">Mettre à jour un personnage</span><br>
							<span class="fs-6 h2 text-muted fst-italic">Modifiez les infos du personnage</span>
						</p>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body row">
						<div class="form-container">
							<form method="post" action="/admin/characters/update-character" enctype="multipart/form-data">
								<div class="form-group">
									<input type="text" class="form-control" id="oldId" name="oldId" hidden="hidden">
								</div>
								<div class="form-group mt-3">
									<label for="updateId">ID:</label>
									<input type="text" class="form-control" id="updateId" name="Id" required>
								</div>
								<div class="form-group mt-3">
									<label for="updateImage">Image:</label>
									<input type="file" class="form-control" id="updateImage" name="Image"
										   accept="image/">
								</div>
								<div class="form-group mt-3">
									<label for="updateName">Nom:</label>
									<input type="text" class="form-control" id="updateName" name="Name"
										   required>
								</div>
								<div class="form-group mt-3">
									<label for="updateRarity">Rareté :</label>
									<select class="form-control" id="updateRarity" name="Rarity" required>
										{% for rarity in rarities %}
											<option value="{{ rarity.value }}">{{ rarity.value|title }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group mt-3">
									<label class="form-check-label" for="updateIsLfCheckbox">Legends Limited</label>
									<input class="form-check-input" type="checkbox" name="IsLF" id="updateIsLfCheckbox">
								</div>
								<div class="form-group mt-3">
									<label for="updateColor">Couleur: </label>
									<select class="form-control" id="updateColor" name="Color" required>
										{% for color in colors %}
											<option value="{{ color.value }}">{{ color.value|title }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group mt-3">
									<label for="updateTags">Tags: </label>
									<select id="updateTags" class="form-control form-select" multiple name="Tags[]">
										{% for tag in tags %}
											<option value="{{ tag.getName() }}">{{ tag.getName() }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="body-opaque modal-footer">
									<button type="submit" class="btn btn-primary">Modifier</button>
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="deleteCharacterModal" tabindex="-1" aria-labelledby="deleteCharacterModal"
			 aria-hidden="true">
			<div class="modal-lg modal-dialog modal-dialog-centered">
				<div class="body modal-content">
					<div class="body-opaque modal-header">
						<p class="modal-title fs-5" id="updateCharacterToMenuModal">
							<span class="fs-5 h1">Supprimer un personnage</span><br>
						</p>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<span id="deleteConfirm"></span>
					</div>
					<form method="post" action="{{ url_for("delete-character") }}" enctype="multipart/form-data">
						<input id="characterId" name="ID" type="text" hidden="hidden">

						<div class="body-opaque modal-footer">
							<button type="submit" class="btn btn-danger">Supprimer</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<div id="charactersList" class="d-none">{{ characters|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}</div>
{% endblock %}