{% extends "base.twig" %}

{% block title %} Gestion des personnages {% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="card shadow-2-strong" style="background-color: #f5f7fa">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-borderless mb-0">
								<thead>
									<tr>
										<th scope="col">Image</th>
										<th scope="col">Rarity</th>
										<th scope="col">Legends Limited</th>
										<th scope="col">Name</th>
										<th scope="col">Color</th>
										<th scope="col">Tags</th>
									</tr>
								</thead>
								<tbody>
									{% for character in characters %}
										<tr>
											<td>{{ character.getImage() }}</td>
											<td>{{ character.getRarity().value }}</td>
											<td>{{ character.getLF() }}</td>
											<td>{{ character.getName() }}</td>
											<td>{{ character.getColor().value }}</td>
											<td>{{ character.getTagString() }}</td>
											<td>
												<button type="button" class="btn btn-primary btn-sm px-3">Edit</button>
											</td>
											<td>
												<button type="button" class="btn btn-primary btn-sm px-3">Delete</button>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}