{% extends 'base.twig' %}

{% block title %} Gestion des personnages {% endblock %}

{% block script %}
    <script type="text/javascript" src="/public/js/getUserInfos.js" defer></script>
    <script type="text/javascript" src="/public/js/SearchCharacter.js" defer></script>
    <script type="text/javascript" src="/public/js/updateCharacter.js" defer></script>
{% endblock %}

{% block body %}
    {# A CHECK
		<div class="row mt-3">
			{% for flash in flashes %}
				<div class="alert alert-{{ flash.type }} alert-dismissible fade show" role="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					{{ flash.message|raw }}
				</div>
			{% endfor %}
		</div>
    #}
    <section class="modals">
        <!-- Update character modal -->
        <div id="crud-modal-update" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                            Éditer un personnage
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal-update" id="close-update-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <form class="p-4 md:p-5" method="post" action="/admin/characters/update-character" enctype="multipart/form-data">
                        <input type="text" hidden="hidden" id="page" name="page" value="{{ currentPage }}">
                        <div class="grid gap-4 mb-4 grid-cols-2">
                            <div class="col-span-2">
                                <label for="oldId" class="hidden"></label>
                                <input type="text" id="oldId" name="oldId" hidden="hidden">
                            </div>
                            <div class="col-span-2">
                                <label for="updateId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID</label>
                                <input type="text" name="Id" id="updateId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="DBL-EVT-00S" required>
                            </div>
                            <div class="col-span-2">
                                <label for="updateImage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image:</label>
                                <input type="file" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" id="updateImage" name="Image" accept="image/">
                            </div>
                            <div class="col-span-2 sm:col-span-1">
                                <label for="updateName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                                <input type="text" name="Name" id="updateName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Goku" required>
                            </div>
                            <div class="col-span-2 sm:col-span-1">
                                <label for="updateRarity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rareté</label>
                                <select id="updateRarity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" name="Rarity" required>
                                    {% for rarity in rarities %}
                                        <option value="{{ rarity.value }}">{{ rarity.value|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-span-2 sm:col-span-1">
                                <label for="updateIsLfCheckbox" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Legends Limited</label>
                                <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" name="IsLF" id="updateIsLfCheckbox">
                            </div>
                            <div class="col-span-2 sm:col-span-1">
                                <label for="updateColor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Couleur</label>
                                <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" id="updateColor" name="Color" required>
                                    {% for color in colors %}
                                        <option value="{{ color.value }}">{{ color.value|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-span-2">
                                <label for="updateTags" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tags</label>
                                <div class="lg:max-w-[548px] w-full mx-auto relative bg-white rounded-lg shadow dark:bg-gray-700">
                                    <div class="pb-1">
                                        <input id="tag-search" type="text" class="flex-grow bg-gray-50 text-gray-900 text-sm border border-gray-300 rounded-lg focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Entrer un tag...">
                                        <button id="add-tag" class="hidden ml-2 p-2 bg-blue-500 text-white rounded">+</button>
                                    </div>
                                    <div id="dropdown" class="absolute bottom-full left-0 w-full bg-white text-gray-900 border border-gray-300 rounded-md shadow-lg hidden z-10 mb-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                                        <ul id="dropdown-list" class="h-48 overflow-y-auto">
                                            {% for tag in tags %}
                                                <li class="p-2 cursor-pointer hover:bg-gray-500 text-white">
                                                    <span>{{ tag.getName }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div id="selected-tags" class="relative bg-gray-50 text-gray-900 text-sm px-4 py-3 rounded-lg border-t border-b border-gray-200 flex gap-x-4 flex-wrap gap-y-4 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white h-24 overflow-y-scroll">
                                        <!-- Boutons des tags sélectionnés -->
                                    </div>
                                    <select id="updateTags" name="tags[]" class="hidden" multiple>
                                        {% for tag in tags %}
                                            <option value="{{ tag.getName() }}" name="{{ tag.getName() }}" class="tag-option hidden">
                                                {{ tag.getName() }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button id="update-form-sender" type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M5 8a4 4 0 1 1 7.796 1.263l-2.533 2.534A4 4 0 0 1 5 8Zm4.06 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h2.172a2.999 2.999 0 0 1-.114-1.588l.674-3.372a3 3 0 0 1 .82-1.533L9.06 13Zm9.032-5a2.907 2.907 0 0 0-2.056.852L9.967 14.92a1 1 0 0 0-.273.51l-.675 3.373a1 1 0 0 0 1.177 1.177l3.372-.675a1 1 0 0 0 .511-.273l6.07-6.07a2.91 2.91 0 0 0-.944-4.742A2.907 2.907 0 0 0 18.092 8Z" clip-rule="evenodd"/>
                            </svg>
                            <span class="px-1"> Modifier</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
            <div class="row align-items-center">
                <div class="col">
                    <select name="select-character-research" id="character-research">
                        <option value="name" selected>Nom</option>
                        <option value="id">ID</option>
                    </select>
                </div>
                <div class="col-8">
                    <input type="search" class="form-control" id="search" placeholder="Rechercher...">
                </div>
                <div class="col">
                    <a href="{{ url_for('character-create') }}" class="form-control btn btn-sm btn-success">Créer un
                        personnage</a>
                    <button type="button" class="form-control btn-sm btn-primary mt-2" id="filtersBtn">Filters</button>
                </div>
            </div>
            <div class="section" id="filters" style="display: none;">
                <div class="mb-5 mt-3 ms-3">
                    <div class="row">
                        <div class="col-3">
                            <h5 class="mb-4">Rarity</h5>
                            {% for rarity in rarities %}
                                <div class="row mb-1">
                                    <div class="col-sm">
                                        <input type="radio" id="{{ rarity.value }}" name="rarity" class="filter-btn"
                                               value="{{ rarity.value }}">
                                        <label class="filter" for="{{ rarity.value }}">{{ rarity.value }}</label><br>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-3 ms-5 ps-5">
                            <h5 class="mb-4">Color</h5>
                            {% for color in colors %}
                                <div class="row mb-1">
                                    <div class="col-sm">
                                        <input type="radio" id="{{ color.value }}" name="color" class="filter-btn"
                                               value="{{ color.value }}">
                                        <label class="filter" for="{{ color.value }}">{{ color.value }}</label><br>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-4 ms-5 ps-5">
                            <div class="row mb-3">
                                <h5 class="mb-4">Tags</h5>
                                <select id="filterTags" class="form-control form-select" multiple name="Tags[]"
                                        onchange="search()">
                                    {% for tag in tags %}
                                        <option value="{{ tag.getName() }}">{{ tag.getName() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <h5>Legends limited</h5>
                        <div class="row form-group pt-3">
                            <div class="col">
                                <label class="form-check-label" for="updateIsLfCheckbox">Legends Limited</label>
                                <input class="form-check-input filter-check" type="checkbox" name="updateIsLfCheckbox"
                                       id="updateIsLfCheckbox">
                            </div>
                            <div class="col-3">
                                <button id="resetTags" class="btn btn-sm btn-secondary">Reinitialiser les filtres
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-4">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Image
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Rareté
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Legends Limited
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Nom
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Couleur
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Tags
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for character in displayed %}
                            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ character.getImage() }}
                                </th>
                                <td class="px-6 py-4">
                                    <img draggable="false" id="characterImage"
                                         src="/public/images/characters/{{ character.getImage() }}.png"
                                         alt="Image de {{ character.getImage() }}" width="300" height="300">
                                </td>
                                <td class="px-6 py-4">
                                    <img draggable="false" id="characterRarity"
                                         src="/public/images/rarities/{{ character.getRarity().value }}.png"
                                         alt="Image de la rareté {{ character.getRarity().value }}">
                                </td>
                                <td class="px-6 py-4">
                                    {% if character.isLF() %}
                                        <img draggable="false" id="lf" src="/public/images/lf/LF.png"
                                             alt="Image de LF" width="50" height="50">
                                    {% else %}
                                        <img draggable="false" id="notLF" src="/public/images/lf/NOTLF.png"
                                             alt="Image de non LF" width="50" height="50">
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4">
                                    {{ character.getName() }}
                                </td>
                                <td class="px-6 py-4">
                                    <img draggable="false" id="characterColor"
                                         src="/public/images/colors/{{ character.getColor().value }}.png"
                                         alt="Image de la couleur {{ character.getColor().value }}" width="50">
                                </td>
                                <td class="px-6 py-4">
                                    {{ character.getTagString() }}
                                </td>
                                <td class="px-6 py-4 flex-row items-center justify-center space-y-2">
                                    <a data-modal-target="crud-modal-update" data-modal-toggle="crud-modal-update" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                       onclick="getUpdateUserInfos('{{ character.getImage() }}', '{{ character.getRarity().value }}', '{{ character.isLF() }}', '{{ character.getName() }}', '{{ character.getColor().value }}', '{{ character.getTagString() }}')">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd"
                                                  d="M5 8a4 4 0 1 1 7.796 1.263l-2.533 2.534A4 4 0 0 1 5 8Zm4.06 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h2.172a2.999 2.999 0 0 1-.114-1.588l.674-3.372a3 3 0 0 1 .82-1.533L9.06 13Zm9.032-5a2.907 2.907 0 0 0-2.056.852L9.967 14.92a1 1 0 0 0-.273.51l-.675 3.373a1 1 0 0 0 1.177 1.177l3.372-.675a1 1 0 0 0 .511-.273l6.07-6.07a2.91 2.91 0 0 0-.944-4.742A2.907 2.907 0 0 0 18.092 8Z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                       onclick="getDeleteUserInfos('{{ character.getImage() }}', '{{ character.getName() }}')">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd"
                                                  d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!--Table-->
            <div class="flex flex-col items-center">
                <!-- Help text -->
                <span class="text-sm text-gray-700 dark:text-gray-400">
                                      Montre <span
                            class="font-semibold text-gray-900 dark:text-white">{{ currentPage*50-49 }}</span> à <span
                            class="font-semibold text-gray-900 dark:text-white">{{ last_c }}</span> sur <span
                            class="font-semibold text-gray-900 dark:text-white">{{ characters }}</span> Entrées
                                  </span>
                <nav aria-label="Page navigation">
                    <ul class="flex items-center -space-x-px h-8 text-sm">
                        <li>
                            <a href="{{ url_for("character-list", {"page":1}) }}"
                               class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">First</span>
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m17 16-4-4 4-4m-6 8-4-4 4-4"/>
                                </svg>
                            </a>
                        </li>
                        {% if not disable["prev"] %}
                            <li>
                                <a href="{{ url_for("character-list", {"page":currentPage-1}) }}"
                                   class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                    <span class="sr-only">Previous</span>
                                    <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2" d="M5 1 1 5l4 4"/>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% for page in pagination %}
                            <li>
                                <a href="{{ url_for("character-list", {"page":page}) }}"
                                   class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                    {{ page }}
                                </a>
                            </li>
                        {% endfor %}
                        {% if not disable["next"] %}
                            <li>
                                <a href="{{ url_for("character-list", {"page":currentPage+1}) }}"
                                   class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                    <span class="sr-only">Next</span>
                                    <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2" d="m1 9 4-4-4-4"/>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ url_for("character-list", {"page":pages}) }}"
                               class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Last</span>
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m7 16 4-4-4-4m6 8 4-4-4-4"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
{#    <section class="modals">#}
{#        <div class="modal fade" id="deleteCharacterModal" tabindex="-1" aria-labelledby="deleteCharacterModal"#}
{#             aria-hidden="true">#}
{#            <div class="modal-lg modal-dialog modal-dialog-centered">#}
{#                <div class="body modal-content">#}
{#                    <div class="body-opaque modal-header">#}
{#                        <p class="modal-title fs-5" id="updateCharacterToMenuModal">#}
{#                            <span class="fs-5 h1">Supprimer un personnage</span><br>#}
{#                        </p>#}
{#                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <span id="deleteConfirm"></span>#}
{#                    </div>#}
{#                    <form method="post" action="{{ url_for("delete-character") }}" enctype="multipart/form-data">#}
{#                        <input id="characterId" name="ID" type="text" hidden="hidden">#}

{#                        <div class="body-opaque modal-footer">#}
{#                            <button type="submit" class="btn btn-danger">Supprimer</button>#}
{#                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{#    <div id="charactersList" class="d-none">{{ characters|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}</div>#}
{% endblock %}