{% extends 'base.twig' %}

{% block title %} Gestion des personnages {% endblock %}

{% block script %}
    <script type="text/javascript" src="/public/js/getUserInfos.js" defer></script>
    <script type="text/javascript" src="/public/js/SearchCharacter.js" defer></script>
    <script type="text/javascript" src="/public/js/updateCharacter.js" defer></script>
    <script type="text/javascript" src="/public/js/createCharacter.js" defer></script>
{% endblock %}

{% block body %}
    {# A CHECK
		<div class="row mt-3">
			{% for flash in flashes %}
				<div class="alert alert-{{ flash.type }} alert-dismissible fade show" role="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					{{ flash.message|raw }}
				</div>
			{% endfor %}
		</div>
    #}
    <section class="modals">
        <!-- Update character modal -->
        <div id="crud-modal-update" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                            Éditer un personnage
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal-update" id="close-update-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <form class="p-4 md:p-5" method="post" action="/admin/characters/update-character" enctype="multipart/form-data">
                        <label for="page" hidden="hidden"></label>
                        <input type="text" hidden="hidden" id="page" name="page" value="{{ currentPage }}" readonly>
                        <div class="grid gap-4 mb-4 grid-cols-2">
                            <div class="col-span-2">
                                <label for="oldId" class="hidden"></label>
                                <input type="text" id="oldId" name="oldId" hidden="hidden">
                            </div>
                            <div class="col-span-2">
                                <label for="updateId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID</label>
                                <input type="text" name="Id" id="updateId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="DBL-EVT-00S" required>
                            </div>
                            <div class="col-span-2">
                                <label for="updateImage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image:</label>
                                <input type="file" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" id="updateImage" name="Image" accept="image/">
                            </div>
                            <div class="col-span-2 sm:col-span-1">
                                <label for="updateName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                                <input type="text" name="Name" id="updateName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Goku" required>
                            </div>
                            <div class="col-span-2 sm:col-span-1">
                                <label for="updateRarity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rareté</label>
                                <select id="updateRarity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" name="Rarity" required>
                                    {% for rarity in rarities %}
                                        <option value="{{ rarity.value }}">{{ rarity.value|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-span-2 sm:col-span-1">
                                <label for="updateIsLfCheckbox" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Legends Limited</label>
                                <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" name="IsLF" id="updateIsLfCheckbox">
                            </div>
                            <div class="col-span-2 sm:col-span-1">
                                <label for="updateColor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Couleur</label>
                                <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" id="updateColor" name="Color" required>
                                    {% for color in colors %}
                                        <option value="{{ color.value }}">{{ color.value|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-span-2">
                                <label for="updateTags" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tags</label>
                                <div class="lg:max-w-[548px] w-full mx-auto relative bg-white rounded-lg shadow dark:bg-gray-700">
                                    <div class="pb-1">
                                        <label for="tag-search" hidden="hidden"></label>
                                        <input id="tag-search" type="text" class="flex-grow bg-gray-50 text-gray-900 text-sm border border-gray-300 rounded-lg focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Entrer un tag...">
                                        <button id="add-tag" class="hidden ml-2 p-2 bg-blue-500 text-white rounded">+</button>
                                    </div>
                                    <div id="dropdown" class="absolute bottom-full left-0 w-full bg-white text-gray-900 border border-gray-300 rounded-md shadow-lg hidden z-10 mb-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                                        <ul id="dropdown-list" class="h-48 overflow-y-auto">
                                            {% for tag in tags %}
                                                <li class="p-2 cursor-pointer hover:bg-gray-500 text-white">
                                                    {{ tag.getName() }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div id="selected-tags" class="relative bg-gray-50 text-gray-900 text-sm px-4 py-3 rounded-lg border-t border-b border-gray-200 flex gap-x-4 flex-wrap gap-y-4 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white h-24 overflow-y-scroll">
                                        <!-- Boutons des tags sélectionnés -->
                                    </div>
                                    <select id="updateTags" name="tags[]" class="hidden" multiple>
                                        {% for tag in tags %}
                                            <option value="{{ tag.getName() }}" name="{{ tag.getName() }}" class="tag-option hidden">
                                                {{ tag.getName() }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button id="update-form-sender" type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M5 8a4 4 0 1 1 7.796 1.263l-2.533 2.534A4 4 0 0 1 5 8Zm4.06 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h2.172a2.999 2.999 0 0 1-.114-1.588l.674-3.372a3 3 0 0 1 .82-1.533L9.06 13Zm9.032-5a2.907 2.907 0 0 0-2.056.852L9.967 14.92a1 1 0 0 0-.273.51l-.675 3.373a1 1 0 0 0 1.177 1.177l3.372-.675a1 1 0 0 0 .511-.273l6.07-6.07a2.91 2.91 0 0 0-.944-4.742A2.907 2.907 0 0 0 18.092 8Z" clip-rule="evenodd"/>
                            </svg>
                            <span class="px-1"> Modifier</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Delete character modal -->
        <div id="crud-modal-delete" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                            Supprimer un personnage
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal-delete" id="close-delete-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <form class="p-4 md:p-5" method="post" action="/admin/characters/delete-character" enctype="multipart/form-data">
                        <input type="text" hidden="hidden" id="page" name="page" value="{{ currentPage }}">
                        <div class="flex mb-4">
                            <div class="flex-1 mr-4">
                                <div class="flex items-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg h-full focus:ring-primary-600 focus:border-primary-600 w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                    <img draggable="false" id="d_characterImage" src="" alt="" width="300" height="300" class="inline-block align-middle">
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <div class="p-2.5 mb-4">
                                    <label for="characterId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID</label>
                                    <input readonly id="characterId" type="text" name="characterId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="DBL-EVT-00s" required>
                                </div>
                                <div class="p-2.5">
                                    <label for="characterName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                                    <input readonly id="characterName" type="text" name="characterName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                        <button id="delete-form-sender" type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M5 8a4 4 0 1 1 7.796 1.263l-2.533 2.534A4 4 0 0 1 5 8Zm4.06 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h2.172a2.999 2.999 0 0 1-.114-1.588l.674-3.372a3 3 0 0 1 .82-1.533L9.06 13Zm9.032-5a2.907 2.907 0 0 0-2.056.852L9.967 14.92a1 1 0 0 0-.273.51l-.675 3.373a1 1 0 0 0 1.177 1.177l3.372-.675a1 1 0 0 0 .511-.273l6.07-6.07a2.91 2.91 0 0 0-.944-4.742A2.907 2.907 0 0 0 18.092 8Z" clip-rule="evenodd"/>
                            </svg>
                            <span class="px-1"> Supprimer</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Create character modal -->
        <div id="crud-modal-create" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal Stepper -->
                    <div class="px-4 py-2 md:px-5 md:py-2 rounded-t">
                        <ol id="create-stepper" class=" overflow-x-hidden flex items-center w-full p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm dark:text-gray-400 sm:text-base dark:bg-gray-800 dark:border-gray-700 sm:p-4 sm:space-x-4 rtl:space-x-reverse">
                            <li class="flex items-center text-blue-600 dark:text-blue-500">
                                <span class="flex items-center justify-center w-3.5 h-3.5 me-1 text-2xs border border-blue-600 rounded-full shrink-0 dark:border-blue-500">
                                    1
                                </span>
                                Informations
                                <svg class="w-1.5 h-1.5 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                                </svg>
                            </li>
                            <li class="flex items-center">
                                <span class="flex items-center justify-center w-3.5 h-3.5 me-1 text-2xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                                    2
                                </span>
                                Détails
                                <svg class="w-1.5 h-1.5 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                                </svg>
                            </li>
                            <li class="flex items-center">
                                <span class="flex items-center justify-center w-3.5 h-3.5 me-1 text-2xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                                    3
                                </span>
                                Tags
                                <svg class="w-1.5 h-1.5 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                                </svg>
                            </li>
                            <li class="flex items-center">
                                <span class="flex items-center justify-center w-3.5 h-3.5 me-1 text-2xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                                    4
                                </span>
                                Review
                            </li>
                        </ol>


                    </div>
                    <!-- Modal header -->
                    <div class="flex items-center justify-between pt-1 px-4 pb-4 md:pt-1 md:px-5 md:pb-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                            Créer un personnage
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal-create" id="close-create-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <form id="character-create-form" class="p-4 md:p-5 border-b rounded-t dark:border-gray-600" method="post" action="{{ url_for('character-create') }}" enctype="multipart/form-data">
                        <label for="current-main-page" hidden="hidden"></label>
                        <input type="text" id="current-main-page" name="page" value="{{ currentPage }}" readonly hidden="hidden">
                        <div id="create_page_1">
                            <div class="grid gap-4 mb-4 grid-cols-2">
                                <div class="col-span-2">
                                    <label for="c_characterImage" class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image<span class="text-red-700">*</span>:</label>
                                    <input type="file" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" id="c_characterImage" name="Image" accept="image/">
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="c_characterName" class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom<span class="text-red-700">*</span>:</label>
                                    <input type="text" name="Name" id="c_characterName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Goku" required>
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="c_characterID" class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID<span class="text-red-700">*</span>:</label>
                                    <input type="text" name="Id" id="c_characterID" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="DBL-EVT-00S" required>
                                </div>
                            </div>
                        </div>
                        <div id="create_page_2">
                            <div class="col-span-2 m-2">
                                <label for="c_characterRarity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rareté<span class="text-red-700">*</span>:</label>
                                <select id="c_characterRarity" name="Rarity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
                                    {% for rarity in rarities %}
                                        <option value="{{ rarity.value }}">{{ rarity.value|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-span-2 m-2">
                                <label for="c_characterLL" class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white">Legends Limited:</label>
                                <input type="checkbox" name="IsLF" id="c_characterLL" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                </div>
                            <div class="col-span-2 m-2">
                                <label for="c_characterColor" class="block text-sm font-medium text-gray-900 dark:text-white">Couleur<span class="text-red-700">*</span>:</label>
                                <select id="c_characterColor" name="Color" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
                                    {% for color in colors %}
                                        <option value="{{ color.value }}">{{ color.value|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="create_page_3">
                            <label for="c_characterTags" class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tags:</label>
                            <div class="w-full mx-auto relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <div class="pb-1">
                                    <label for="create-tag-search" hidden="hidden"></label>
                                    <input id="create-tag-search" type="text" class="flex-grow bg-gray-50 text-gray-900 text-sm border botder-gray-300 rounded-lg focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Entrer un tag...">
                                    <button id="create-add-tag" class="hidden ml-2 p-2 bg-blue-500 text-white rounded">+</button>
                                </div>
                                <div id="create-tag-dropdown" class="absolute bottom-full left-0 w-full bg-white text-gray-900 border border-gray-300 rounded-md shadow-lg hidden z-10 mb-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                                    <ul id="create-tag-dropdown-list" class="h-48 overflow-y-auto">
                                        {% for tag in tags %}
                                            <li class="p-2 cursor-pointer hover:bg-gray-500 text-white">
                                                <span>{{ tag.getName() }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div id="create-selected-tags" class="relative bg-gray-50 text-gray-900 text-sm px-4 py-3 rounded-lg border-t border-b border-gray-200 flex gap-x-4 flex-wrap gap-y-4 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white h-24 overflow-y-scroll">
                                    <!-- Boutons des tags sélectionnés -->
                                </div>
                                <select hidden="hidden" class="form-control form-select" id="c_characterTags" name="tags" multiple>
                                    {% for tag in tags %}
                                        <option value="{{ tag.getName() }}" name="{{ tag.getName() }}" class="tag-option hidden">
                                            {{ tag.getName() }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="create_page_4">

                        </div>
                    </form>
                    <!-- Modal footer -->
                    <div class="flex items-center justify-between p-4 md:p-5">
                        <button id="previous-create-button" type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700">Précédent</button>
                        <button id="next-create-button" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Suivant</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
            <form id="" method="post" action="{{ url_for('search-filter-character') }}" enctype="multipart/form-data">
                <div id="search_zone" class="flex row items-center justify-between bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 my-4 py-8 px-4">
                    <div class="flex w-full">
                        <label for="character-research" hidden="hidden">Recherche de personnage</label>
                        <select name="filter-select-character-research" id="character-research" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white dark:border-gray-600">
                            <option value="name" selected>Nom</option>
                            <option value="id">ID</option>
                        </select>
                        <label hidden="hidden" for="search"> Barre de Recherche: </label>
                        <div class="relative w-full">
                            <input type="search" id="search" name="filter-character-searchbar" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Rechercher un personnage..." />
                            <button id="search-form-sender" type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">

                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </div>
                    <div class="px-4">
                        <button type="button" data-modal-target="crud-modal-create" data-modal-toggle="crud-modal-create" class="w-full focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                                onclick="">
                        <span>
                            Créer un personnage
                        </span>
                        </button>
                        <div class="flex w-full">
                            <button type="button" onclick="switch_filters()" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-1 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                Filtres
                            </button>
                            <button type="button" onclick="deselectionnerInputsDansFiltres()" class="w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-1 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800">
                                Réinitialiser
                            </button>
                        </div>
                    </div>
                </div>
                <section class="row items-center justify-between bg-gray-100 border border-gray-200 rounded-b-lg dark:bg-gray-800 dark:border-gray-700 mb-4 py-8 px-4 hidden" id="filters">
                    <div class="grid grid-cols-3 grid-rows-3 gap-0">
                        <div class="col-span-3 row-span-1 m-2">
                            <h5 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">MODE DE RECHERCHE <span class="text-2xs">(défaut: ET)</span></h5>
                            <div class="flex">
                                <input type="checkbox" onclick="toggleInputType()" id="filter_andor" name="filter-character-andor" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
                                <label for="filter_andor" class="block mb-2 text-xs font-normal text-gray-900 dark:text-white ml-2">OU</label>
                            </div>
                        </div>
                        <div class="col-span-1 row-span-1 m-2">
                            <h5 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">RARETÉ</h5>
                            <div id="filter-rarity-list">
                                {% for rarity in rarities %}
                                    <div class="block">
                                        <input type="radio" id="{{ rarity.value }}" name="filter-character-rarity" value="{{ rarity.value }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="{{ rarity.value }}" class="mb-2 text-xs font-normal text-gray-900 dark:text-white ml-2">{{ rarity.value }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            <button onclick="decocherInputsDansDiv('filter-rarity-list')" type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-2xs px-1.5 py-1 text-center me-2 my-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Aucune</button>
                        </div>
                        <div class="col-span-1 row-span-1 m-2">
                            <h5 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">COULEUR</h5>
                            <div id="filter-color-list" class="grid grid-cols-2">
                                {% for color in colors %}
                                    <div class="block">
                                        <input type="radio" id="{{ color.value }}" name="filter-character-color" value="{{ color.value }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="{{ color.value }}" class="mb-2 text-xs font-normal text-gray-900 dark:text-white ml-2">{{ color.value }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            <button onclick="decocherInputsDansDiv('filter-color-list')" type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-2xs px-1.5 py-1 text-center me-2 my-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Aucune</button>
                        </div>
                        <div class="col-span-1 row-span-1 m-2">
                            <h5 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">LEGENDS LIMITED <span class="text-2xs">(défaut: NON)</span></h5>
                            <div class="flex">
                                <input type="checkbox" id="filter_lf" name="filter-character-lf" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
                                <label for="filter_lf" class="block mb-2 text-xs font-normal text-gray-900 dark:text-white ml-2">OUI</label>
                            </div>
                        </div>
                        <div class="col-span-3 row-span-1 m-2">
                            <h5 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">TAGS</h5>
                            <div class="w-full mx-auto relative rounded-lg">
                                <div class="pb-1">
                                    <label for="filter-tag-search" hidden="hidden"></label>
                                    <input id="filter-tag-search" type="text" class="flex-grow bg-gray-50 text-gray-900 text-sm border botder-gray-300 rounded-lg focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Entrer un tag...">
                                    <button id="filter-add-tag" class="hidden ml-2 p-2 bg-blue-500 text-white rounded">+</button>
                                </div>
                                <div id="filter-tag-dropdown" class="absolute bottom-full left-0 w-full bg-white text-gray-900 border border-gray-300 rounded-md shadow-lg hidden z-10 mb-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                                    <ul id="filter-tag-dropdown-list" class="h-48 overflow-y-auto">
                                        {% for tag in tags %}
                                            <li class="p-2 cursor-pointer hover:bg-gray-500 text-white">
                                                <span>{{ tag.getName() }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div id="filter-selected-tags" class="relative bg-gray-50 text-gray-900 text-sm px-4 py-3 rounded-lg border-t border-b border-gray-200 flex gap-x-4 flex-wrap gap-y-4 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white h-24 overflow-y-scroll">
                                    <!-- Boutons des tags sélectionnés -->
                                </div>
                                <label for="filter_tags" class="mb-2 text-sm font-medium text-gray-900 dark:text-white hidden"></label>
                                <select hidden="hidden" class="" id="filter_tags" name="filter-character-tags" multiple>
                                    {% for tag in tags %}
                                        <option value="{{ tag.getName() }}" name="{{ tag.getName() }}" class="tag-option hidden">
                                            {{ tag.getName() }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-4">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table id="shown_table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Image
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Rareté
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Legends Limited
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Nom
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Couleur
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Tags
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for character in displayed %}
                            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ character.getImage() }}
                                </th>
                                <td class="px-6 py-4">
                                    <img draggable="false" id="characterImage"
                                         src="/public/images/characters/{{ character.getImage() }}.png"
                                         alt="Image de {{ character.getImage() }}" width="300" height="300">
                                </td>
                                <td class="px-6 py-4">
                                    <img draggable="false" id="characterRarity"
                                         src="/public/images/rarities/{{ character.getRarity().value }}.png"
                                         alt="Image de la rareté {{ character.getRarity().value }}">
                                </td>
                                <td class="px-6 py-4">
                                    {% if character.isLF() %}
                                        <img draggable="false" id="lf" src="/public/images/lf/LF.png"
                                             alt="Image de LF" width="50" height="50">
                                    {% else %}
                                        <img draggable="false" id="notLF" src="/public/images/lf/NOTLF.png"
                                             alt="Image de non LF" width="50" height="50">
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4">
                                    {{ character.getName() }}
                                </td>
                                <td class="px-6 py-4">
                                    <img draggable="false" id="characterColor"
                                         src="/public/images/colors/{{ character.getColor().value }}.png"
                                         alt="Image de la couleur {{ character.getColor().value }}" width="50">
                                </td>
                                <td class="px-6 py-4">
                                    {{ character.getTagString() }}
                                </td>
                                <td class="px-6 py-4 flex-row items-center justify-center space-y-2">
                                    <a data-modal-target="crud-modal-update" data-modal-toggle="crud-modal-update" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                       onclick="getUpdateUserInfos('{{ character.getImage() }}', '{{ character.getRarity().value }}', '{{ character.isLF() }}', '{{ character.getName() }}', '{{ character.getColor().value }}', '{{ character.getTagString() }}')">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd"
                                                  d="M5 8a4 4 0 1 1 7.796 1.263l-2.533 2.534A4 4 0 0 1 5 8Zm4.06 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h2.172a2.999 2.999 0 0 1-.114-1.588l.674-3.372a3 3 0 0 1 .82-1.533L9.06 13Zm9.032-5a2.907 2.907 0 0 0-2.056.852L9.967 14.92a1 1 0 0 0-.273.51l-.675 3.373a1 1 0 0 0 1.177 1.177l3.372-.675a1 1 0 0 0 .511-.273l6.07-6.07a2.91 2.91 0 0 0-.944-4.742A2.907 2.907 0 0 0 18.092 8Z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" data-modal-target="crud-modal-delete" data-modal-toggle="crud-modal-delete"
                                       onclick="getDeleteUserInfos('{{ character.getImage() }}', '{{ character.getName() }}')">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd"
                                                  d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!--Table-->
            <div class="flex flex-col items-center">
                <!-- Help text -->
                <span class="text-sm text-gray-700 dark:text-gray-400">
                                      Montre <span
                            class="font-semibold text-gray-900 dark:text-white">{{ currentPage*50-49 }}</span> à <span
                            class="font-semibold text-gray-900 dark:text-white">{{ last_c }}</span> sur <span
                            class="font-semibold text-gray-900 dark:text-white">{{ characters }}</span> Entrées
                                  </span>
                <nav aria-label="Page navigation">
                    <ul class="flex items-center -space-x-px h-8 text-sm">
                        <li>
                            <a href="{{ url_for("character-list", {"page":1}) }}"
                               class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">First</span>
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m17 16-4-4 4-4m-6 8-4-4 4-4"/>
                                </svg>
                            </a>
                        </li>
                        {% if not disable["prev"] %}
                            <li>
                                <a href="{{ url_for("character-list", {"page":currentPage-1}) }}"
                                   class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                    <span class="sr-only">Previous</span>
                                    <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2" d="M5 1 1 5l4 4"/>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% for page in pagination %}
                            <li>
                                <a href="{{ url_for("character-list", {"page":page}) }}"
                                   class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                    {{ page }}
                                </a>
                            </li>
                        {% endfor %}
                        {% if not disable["next"] %}
                            <li>
                                <a href="{{ url_for("character-list", {"page":currentPage+1}) }}"
                                   class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                    <span class="sr-only">Next</span>
                                    <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2" d="m1 9 4-4-4-4"/>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ url_for("character-list", {"page":pages}) }}"
                               class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Last</span>
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m7 16 4-4-4-4m6 8 4-4-4-4"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
{#    <section class="modals">#}
{#        <div class="modal fade" id="deleteCharacterModal" tabindex="-1" aria-labelledby="deleteCharacterModal"#}
{#             aria-hidden="true">#}
{#            <div class="modal-lg modal-dialog modal-dialog-centered">#}
{#                <div class="body modal-content">#}
{#                    <div class="body-opaque modal-header">#}
{#                        <p class="modal-title fs-5" id="updateCharacterToMenuModal">#}
{#                            <span class="fs-5 h1">Supprimer un personnage</span><br>#}
{#                        </p>#}
{#                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <span id="deleteConfirm"></span>#}
{#                    </div>#}
{#                    <form method="post" action="{{ url_for("delete-character") }}" enctype="multipart/form-data">#}
{#                        <input id="characterId" name="ID" type="text" hidden="hidden">#}

{#                        <div class="body-opaque modal-footer">#}
{#                            <button type="submit" class="btn btn-danger">Supprimer</button>#}
{#                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}