{% extends 'base.twig' %}

{% block title %} Creation de kamenews {% endblock %}

{% block body %}
	{{ parent() }}
<<<<<<< HEAD
	{% include './elements/kamenews/articleEditor.twig' %}
=======

	<section class="modals">
		<div id="modal-add-article" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
			<div class="relative w-full max-w-4xl max-h-full">
				<!-- Modal content -->
				<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
					<!-- Modal header -->
					<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
						<h3 class="text-lg font-semibold text-gray-900 dark:text-white">
							Créer un article
						</h3>
						<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="modal-add-article" id="close-add-article-modal">
							<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
							</svg>
							<span class="sr-only">Close modal</span>
						</button>
					</div>
					<!-- Modal body -->
					<form class="p-4 md:p-5" method="post" action="{{ url_for('create-article') }}" enctype="multipart/form-data">
						<div class="grid gap-4 mb-4 grid-cols-2">
							<input type="hidden" id="article-id">
							<div class="col-span-2">
								<input type="hidden" id="article-id">
							</div>
							<div class="col-span-2">
								<label for="article-title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Titre</label>
								<input type="text" name="title" id="article-title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
							</div>
							<div class="col-span-2">
								<label for="content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contenu</label>
								<textarea id="content" name="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" rows="20" required></textarea>
							</div>
							<div class="col-span-2">
								<label for="updateArticleImage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Illustrations de l'article</label>
								<input type="file" id="articleImage" name="image[]" accept="image/*" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" multiple>
							</div>
							<div class="col-span-2">
								<div class="flex justify-end">
									<button id="create-article" type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
										<span class="px-1">Ajouter</span>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="py-2 bg-white dark:bg-gray-900 mb-10">
		<h1 class="text-3xl font-bold leading-none text-gray-900 dark:text-white">Création de kamenews</h1>

		<div class="px-8 mx-auto max-w-screen-xl">
			<form action="{{ url_for("create-kamenews") }}" method="post" enctype="multipart/form-data">
				<div class="grid gap-4 mb-4 grid-cols-2">
					<div class="col-span-2">
						<label for="nbArticles" hidden="hidden"></label>
						<input type="number" id="nbArticles" name="nbArticles" hidden="hidden">
					</div>
					<div class="col-span-2">
						<label for="banner" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bannière du Kamenews (360x120px)</label>
						<input type="file" id="banner" name="banner" accept="image/*" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
					</div>
					<div class="col-span-2">
						<label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Titre</label>
						<input type="text" id="title" name="titre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
					</div>
					<div class="col-span-2">
						<label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
						<textarea id="description" name="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"></textarea>
					</div>
					<div class="col-span-2">
						<label for="content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Articles</label>
						<div id="articles-list"></div>
						<button id="add-article" type="button" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" data-modal-target="modal-add-article" data-modal-toggle="modal-add-article">
							<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
								<path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4.243a1 1 0 1 0-2 0V11H7.757a1 1 0 1 0 0 2H11v3.243a1 1 0 1 0 2 0V13h3.243a1 1 0 1 0 0-2H13V7.757Z" clip-rule="evenodd"/>
							</svg>
							<span class="px-1">Ajouter article</span>
						</button>
					</div>
					<div class="col-span-2">
						<label for="author" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Auteur</label>
						<input type="text" class="form-control" name="writer" value="{{ user.getLogin() }}" hidden="hidden" required>
						<input type="text" id="disabled-input" aria-label="disabled input" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ user.getLogin() }}" disabled>
					</div>
					<div class="col-span-2">
						<label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date</label>
						<input type="date" id="date" class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" required disabled>
						<input type="date" id="hidden-date" name="date" hidden="hidden" required>
					</div>
					<div class="col-span-2">
						<button id="createKamenews" type="submit" class="text-white inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
						<span class="px-1">Créer</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</section>

	<!--
	<h1 class="mt-3 ms-3">Création de kamenews</h1>
	-->
	<!-- {# url_for("create-kamenews") #} -->
	<!--
	<form method="post" action="{{ url_for("create-kamenews") }}">
		<div class="form-group mt-3 ms-3">
			<input type="number" class="form-control" name="nbArticles" id="nbArticles" hidden="hidden" required>
		</div>
		<div class="form-group mt-3 ms-3">
			<label for="title">Titre</label>
			<input type="text" class="form-control" id="title" name="titre" required>
		</div>
		<div class="form-group mt-3 ms-3">
			<label for="description">Description</label>
			<textarea class="form-control" id="description" name="description" rows="3" maxlength="280" required></textarea>
		</div>
		<div class="form-group mt-3 ms-3">
			<label for="content">Contenu</label>
			<div id="articles-list"></div>
			<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addArticleModal">Ajouter article</button>
		</div>
		<div class="form-group mt-3 ms-3">
			<label for="author">Auteur</label>
			<input type="text" class="form-control" name="writer" value="{{ user.getLogin() }}" hidden="hidden" required>
			<input type="text" class="form-control" value="{{ user.getLogin() }}" disabled required>
		</div>
		<div class="form-group mt-3 ms-3">
			<label for="date">Date</label>
			<input type="date" class="form-control date" id="date" name="date" hidden="hidden" required>
			<input type="date" class="form-control date" id="display-date" disabled required>
		</div>
		<button id="createKamenews" type="submit" class="btn btn-success mt-3 ms-3">Créer</button>
	</form>
	-->

	<!-- Add Article Modal -->
	<!--
	<div class="modal fade" id="addArticleModal" tabindex="-1" aria-labelledby="addArticleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addArticleModalLabel">Ajouter un article</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form method="post" action="{{ url_for('create-article') }}" id="addArticleForm" enctype="multipart/form-data">
						<input type="hidden" id="article-id">
						<div class="form-group">
							<label for="article-title">Titre</label>
							<input type="text" class="form-control" id="article-title" name="title" required>
						</div>
						<div class="mt-3 form-group">
							<label for="content">Contenu</label>
							<textarea class="form-control" id="content" name="text" rows="10" required></textarea>
						</div>
						<div class="mt-3 form-group">
							<label for="updateArticleImage" class="form-label">Illustration de l'article</label>
							<input class="form-control" type="file" id="articleImage" name="image[]" accept="image/*" multiple>
						</div>
						<div class="mt-3 form-group">
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
								<button id="create-article" type="submit" class="btn btn-primary">Ajouter</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	-->

	<!-- Delete Modal -->
	<!--
	<div class="modal fade" id="deleteArticleModal" tabindex="-1" aria-labelledby="deleteArticleModal" aria-hidden="true">
		<div class="modal-lg modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="body-opaque modal-header">
					<h1>Supprimer l'article</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<span id="deleteConfirm"></span>
				</div>
				<form method="post" action="{{ url_for('delete-article') }}" enctype="multipart/form-data">
					<input id="delete-id" name="id" type="text" hidden="hidden">

					<div class="body-opaque modal-footer">
						<button id="delete-confirm" type="submit" class="btn btn-danger">Supprimer</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	-->
>>>>>>> dev
{% endblock %}


{% block script %}
	<script src="/public/js/fetchURLFor.js" defer></script>
{% endblock %}