{% extends "base.twig" %}

{% block title %} Kamenews {% endblock %}

{% block body %}
	<section class="pt-10 pb-5">
		<div class="justify-end flex px-8 mx-auto max-w-screen-xl">
			<div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-4">
					<a href="{{ url_for('new-kamenews') }}" class="text-white bg-blue-700 hover:bg-green-800 focus:ring-4
						focus:ring-green-300 font-medium rounded-lg text-sm px-2 py-2.5 dark:bg-green-600 dark:hover:bg-green-700
						focus:outline-none dark:focus:ring-green-800 text-center">
						Créer un kamenews
					</a>
					<a href="{{ url_for('admin-kamenews') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4
						focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700
						focus:outline-none dark:focus:ring-blue-800 text-center">
						Gérer les kamenews
					</a>
			</div>
		</div>
	</section>

	<section class="py-2 bg-white dark:bg-gray-900 mb-10">
		<div class="px-8 mx-auto max-w-screen-xl">
			<div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-8">
				{% for k in kamenews %}
					<button id="{{ k.getId() }}" class="kamenews-read">
						<div class="lg:w-96 bg-white rounded-lg shadow dark:bg-gray-800 p-3 kamenews-card relative" style="height: 544px">
							<div class="justify-center border-gray-200 dark:border-gray-700 mb-3">
								<h5 class="text-xl text-center font-bold leading-none text-gray-900 dark:text-white">
									Kamenews n°{{ k.getId() }}
								</h5>
							</div><hr/>
							<div class="flex justify-center pt-5">
								<img class="rounded-lg shadow" src="/public/images/kamenews/eqico_info_sp.jpg" alt="">
							</div>
							<div class="justify-between">
								<p class="text-base text-gray-700 dark:text-gray-300 mt-4 mx-4 text-justify sm:text-xl">{{ k.getDesc() }}</p>
							</div>
							<div id="RedacdDate" class="absolute bottom-0 left-0 right-0 mb-4 text-sm font-bold italic text-gray-700 dark:text-gray-300">
								Publié le:<br>{{ k.getDate() }}
							</div>
						</div>
					</button>
				{% endfor %}
			</div>
		</div>
	 </section>
{% endblock %}

{% block script %}
	<script src="/public/js/fetchURLFor.js"></script>
	<script src="/public/js/kamenews.js"></script>
	<script>
		window.addEventListener('load', () => {
			const btns = document.querySelectorAll('.kamenews-read');
			btns.forEach(btn => {
				btn.addEventListener('click', async () => {
					await readKamenews('{{ read_kamenews_url }}',btn.id)
				})
			})
		})
	</script>
{% endblock %}