{% extends 'base.twig' %}

{% block title %}Gestion des kamenews{% endblock %}


{% block body %}
	{{ parent() }}

	<h1 class="mt-3 ms-3">Gestion des kamenews</h1>
	<div class="container">
		<div class="table-responsive mt-5">
			<table class="table table-borderless mb-0 table-striped">
				<thead>
				<tr>
					<th class="text-center" scope="col">ID</th>
					<th class="text-center" scope="col">Date</th>
					<th class="text-center" scope="col">Titre</th>
				</tr>
				</thead>
				<tbody>
				{% for k in kamenews %}
					<tr>
						<td>{{ k.getId() }}</td>
						<td>{{ k.getDate() }}</td>
						<td>{{ k.getTitle() }}</td>
						<td>
							<button id="{{ k.getId() }}" type="button" class="read-kamenews btn btn-primary btn-sm px-3">
								<i class="bi-eye-fill"></i>
							</button>
							<button id="{{ k.getId() }}-edit" type="button" class="edit-kamenews btn btn-primary btn-sm px-3">
								<i class="bi-pencil"></i>
							</button>
							<a href="#" type="button" class="btn btn-primary btn-sm px-3" data-bs-toggle="modal"
								data-bs-target="#deleteKamenewsModal" onclick="getDeleteUserInfos('{{ k.getId() }}')">
								<i class="bi-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="modal fade" id="deleteKamenewsModal" tabindex="-1" aria-labelledby="deleteKamenewsModal"
		 aria-hidden="true">
		<div class="modal-lg modal-dialog modal-dialog-centered">
			<div class="body modal-content">
				<div class="body-opaque modal-header">
					<p class="modal-title fs-5" id="updateCharacterToMenuModal">
						<span class="fs-5 h1">Supprimer le kamenews</span><br>
					</p>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<strong><span>Attention ! Le kamenews complet sera supprimé, articles compris. Si vous
						souhaitez retirer un ou plusieurs articles veuillez passer par l'édition du kamenews</span></strong>
				</div>
				<form method="post" action="{{ url_for('delete-kamenews') }}" enctype="multipart/form-data">
					<input id="kamenewsId" name="ID" type="text" hidden="hidden">

					<div class="body-opaque modal-footer">
						<button type="submit" class="btn btn-danger">Supprimer</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="/public/js/fetchURLFor.js"></script>
	<script src="/public/js/kamenews.js"></script>
	<script>
		function getDeleteUserInfos(id){
			document.getElementById('kamenewsId').value = id;
		}

		window.addEventListener('load', () => {
			const btns = document.querySelectorAll('.read-kamenews');
			btns.forEach(btn => {
				btn.addEventListener('click', async () => {
					await readKamenews('{{ read_kamenews_url }}', btn.id)
				})
			})

			const editBtns = document.querySelectorAll('.edit-kamenews');
			editBtns.forEach(btn => {
				btn.addEventListener('click', async () => {
					let id = btn.id.split('-')[0]
					await editKamenews('{{ display_edit_kamenews_url }}', id)
				})
			})
		})
	</script>
{% endblock %}