{% extends "base.twig" %}

{% block title %} {{ kamenews.getTitle() }} {% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/public/css/kamenewsViewer.css">
{% endblock %}

{% block body %}
	{% if kamenews is not null %}
		<div class="container-fluid">
			<div class="row justify-content-center mt-3">
				<img alt="Illustration d'un journal" draggable="false" class="newspaper_image" src="/public/images/kamenews/kamenewspaper.png">
			</div>
			<div class="row">
				<div class="col mt-5 fs-3 fw-bold">
					<span>Kamenews n°{{ kamenews.getId() }} - {{ kamenews.getTitle() }}</span>
				</div>
				<div class="col mt-5 fs-6 fst-italic">
					<span class="publisher me-5">Published by {{ kamenews.getWriter() }} the {{ kamenews.getDate() }}</span>
				</div>
			</div>
			{% for article in kamenews.getArticles() %}
				<div class="article">
					<div class="row pt-5 mt-5">
						<span class="ms-3 ps-5 fs-3 fw-bold">{{ article.getTitle() }}</span>
					</div>
						<div class="article row mt-5">
							<span class="ms-5 ps-5 fs-5 text-wrap">
								{% autoescape %}
								{{ article.getText() }}
								{% endautoescape %}
							</span>
						</div>
					<div class="mt-5 kamenews_illustration">
						<img alt="Illustration de la partie de l'article" draggable="false" src="/public/images/kamenews/{{ article.getImage() }}" width="800">
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}