{% extends "base.twig" %}

{% block title %}Modification du kamenews{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/public/css/kamenewsViewer.css">
{% endblock %}

{% block body %}
	{{ parent() }}

	<section class="py-2 bg-white dark:bg-gray-900 mb-10">
		<h1 class="text-3xl font-bold leading-none text-gray-900 dark:text-white">Modification de kamenews</h1>
	{% if kamenews is not null %}
		<div class="px-8 mx-auto max-w-screen-xl">
			<form class="p-4 md:p-5" method="post" action="{{ url_for('create-article') }}" enctype="multipart/form-data">
				<div class="grid gap-4 mb-4 grid-cols-2">
					<input type="hidden" id="article-id">
					<div class="col-span-2">
						<input type="hidden" id="article-id">
					</div>
					<div class="col-span-2">
						<label for="updateArticleImage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bannière du Kamenews (360x120px)</label>
						<input type="file" id="articleImage" name="image" accept="image/*" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
					</div>
					<div class="col-span-2">
						<label for="article-title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Titre</label>
						<input type="text" name="title" id="article-title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
					</div>
					<div class="col-span-2">
						<label for="content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
						<textarea id="content" name="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required></textarea>
					</div>
					<!-- Articles list -->
					<div class="col-span-2">
						<div class="flex justify-end">
							<button id="create-article" type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
								<span class="px-1">Ajouter</span>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>

		<!--
		<div class="container-fluid">

		<form method="post" action="{{ url_for('post-edit-kamenews') }}">
			<input type="hidden" id="kamenews-id" name="id" value="{{ kamenews.getId() }}">
			<div class="col mt-5 fs-3">
				<h1 class="fw-bold">Kamenews n°{{ kamenews.getId() }} - {{ kamenews.getTitle() }} - Edition</h1>
			</div>
			<div class="col mt-5 fs-3">
				<label for="kamenews-title" class="form-label">Titre du Kamenews:</label>
				<input class="form-control" type="text" name="titre" value="{{ kamenews.getTitle() }}"></input>
				<br>
				<label for="kamenews-desc" class="form-label">Description du Kamenews:</label>
				<input class="form-control" type="text" id="kamenews-desc" name="description" value="{{ kamenews.getDesc() }}"></input>
			</div>
			<div class="col mt-5 fs-6 fst-italic">
				<span class="publisher me-5">Published by {{ kamenews.getWriter().getLogin() }} the {{ kamenews.getDate() }}</span>
			</div>

			<div class="accordion mt-4" id="articlesAccordion">
				{% for article in kamenews.getArticles() %}
					<div id="article-{{ loop.index }}" class="accordion-item article row ms-5 mb-3">
						<div class="accordion-item">
							<h2 class="accordion-header" id="heading{{ loop.index }}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
									<span id="title-{{ loop.index }}"><strong>{{ article.getTitle() }}</strong></span>
								</button>
							</h2>

							<div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}">
								<div class="accordion-body">
								<span id="text-{{ loop.index }}" class="ms-5 ps-5 fs-5 text-wrap">
									{% autoescape %}
										{{ article.getText() }}
									{% endautoescape %}
								</span>
									<div class="mt-5 kamenews_illustration">
										<img id="image-{{ loop.index }}" alt="Illustration de la partie de l'article" draggable="false" src="/public/images/kamenews/{{ article.getImage() }}" width="800">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<button class="btn move-up" id="up-article-{{ loop.index }}">
										<i class="bi bi-arrow-up"></i>
									</button>
									<button class="btn move-down" id="down-article-{{ loop.index }}">
										<i class="bi bi-arrow-down"></i>
									</button>
								</div>
								<div class="col text-end">
									<button class="btn edit-article" id="edit-article-{{ loop.index }}" data-bs-toggle="modal" data-bs-target="#editArticleModal" onclick="getArticleInfos({{ loop.index }})">
										<i class="bi bi-pencil"></i>
									</button>
									<button type="button" class="btn delete-article" id="delete-article-{{ loop.index }}" data-bs-toggle="modal" data-bs-target="#deleteArticleModal" onclick="initDeleteModal({{ loop.index }})">
										<i class="bi bi-trash"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<button type="submit" id="updateKamenews" class="btn btn-success mt-5 mb-3 float-right">Valider</button>
			</form>
		</div>
	{% endif %}-->

	<!--
	<div class="modal fade" id="editArticleModal" tabindex="-1" aria-labelledby="editArticleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editArticleModalLabel">Modification de l'article</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="editArticleForm" method="post" action="{{ url_for('post-edit-article') }}" enctype="multipart/form-data">
						<div class="mb-3">
							<label for="updateArticleTitle" class="form-label">Titre de l'article</label>
							<input type="text" class="form-control" id="updateArticleTitle" name="title" required>
						</div>
						<div class="mb-3">
							<label for="updateArticleText" class="form-label">Texte de l'article</label>
							<textarea class="form-control" id="updateArticleText" name="text" rows="10" required></textarea>
						</div>
						<div class="mb-3">
							<label for="updateArticleImage" class="form-label">Illustration de l'article</label>
							<input class="form-control" type="file" id="updateArticleImage" name="articleImage">
						</div>
						<div class="mb-3">
							<input id="updateArticleId" name="id" type="hidden">
						</div>
						<div class="body-opaque modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
							<button id="updateKamenewsBtn" type="submit" class="btn btn-primary">Valider</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteArticleModal" tabindex="-1" aria-labelledby="deleteArticleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteArticleModalLabel">Suppression de l'article</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Êtes-vous sûr de vouloir supprimer cet article ?</p>
					<form method="post" action="{{ url_for("remove-article") }}" enctype="multipart/form-data">
						<input id="articleId" name="id" type="text" hidden="hidden">

						<div class="body-opaque modal-footer">
							<button type="submit" class="btn btn-danger">Supprimer</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>-->
{% endblock %}

{% block script %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
	<script src="/public/js/fetchURLFor.js" defer></script>
	<script src="/public/js/kamenewsEdit.js" defer></script>
{% endblock %}
