{% extends "base.twig" %}

{% block title %}Modification du kamenews{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/public/css/kamenewsViewer.css">
{% endblock %}

{% block body %}
	{{ parent() }}

	{% if kamenews is not null %}
		<div class="container-fluid">
			<div class="row">
				<div class="col mt-5 fs-3 fw-bold">
					<h1>Kamenews n°{{ kamenews.getId() }} - <span contenteditable="true">{{ kamenews.getTitle() }}</span></h1>
				</div>
				<div class="col mt-5 fs-6 fst-italic">
					<span class="publisher me-5">Published by {{ kamenews.getWriter().getLogin() }} the {{ kamenews.getDate() }}</span>
				</div>
			</div>
			<div class="accordion mt-4" id="articlesAccordion">
				{% for article in kamenews.getArticles() %}
					<div id="article-{{ loop.index }}" class="accordion-item article row mb-3">
						<div class="accordion-item">
							<h2 class="accordion-header" id="heading{{ loop.index }}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
									<span id="title-{{ loop.index }}"><strong>{{ article.getTitle() }}</strong></span>
								</button>
							</h2>

							<div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}">
								<div class="accordion-body">
								<span id="text-{{ loop.index }}" class="ms-5 ps-5 fs-5 text-wrap">
									{% autoescape %}
										{{ article.getText() }}
									{% endautoescape %}
								</span>
									<div class="mt-5 kamenews_illustration">
										<img id="image-{{ loop.index }}" alt="Illustration de la partie de l'article" draggable="false" src="/public/images/kamenews/{{ article.getImage() }}" width="800">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<button class="btn move-up" id="up-article-{{ loop.index }}">
										<i class="bi bi-arrow-up"></i>
									</button>
									<button class="btn move-down" id="down-article-{{ loop.index }}">
										<i class="bi bi-arrow-down"></i>
									</button>
								</div>
								<div class="col text-end">
									<button class="btn edit-article" id="edit-article-{{ loop.index }}" data-bs-toggle="modal" data-bs-target="#editArticleModal" onclick="getArticleInfos({{ loop.index }})">
										<i class="bi bi-pencil"></i>
									</button>
									<button class="btn delete-article" id="delete-article-{{ loop.index }}">
										<i class="bi bi-trash"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<button class="btn btn-success mt-5 mb-3 float-right">Valider</button>
		</div>
	{% endif %}

	<div class="modal fade" id="editArticleModal" tabindex="-1" aria-labelledby="editArticleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editArticleModalLabel">Modification de l'article</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="editArticleForm" method="post" action="{{ url_for('post-edit-kamenews') }}" enctype="multipart/form-data">
						<div class="mb-3">
							<label for="updateArticleTitle" class="form-label">Titre de l'article</label>
							<input type="text" class="form-control" id="updateArticleTitle" name="title" required>
						</div>
						<div class="mb-3">
							<label for="updateArticleText" class="form-label">Texte de l'article</label>
							<textarea class="form-control" id="updateArticleText" name="text" rows="10" required></textarea>
						</div>
						<div class="mb-3">
							<label for="updateArticleImage" class="form-label">Illustration de l'article</label>
							<input class="form-control" type="file" id="updateArticleImage" name="articleImage">
						</div>
						<div class="mb-3">
							<input id="updateArticleId" name="id" type="hidden">
						</div>
						<div class="body-opaque modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
							<button id="updateKamenewsBtn" type="submit" class="btn btn-primary">Valider</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteArticleModal" tabindex="-1" aria-labelledby="deleteArticleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteArticleModalLabel">Suppression de l'article</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Êtes-vous sûr de vouloir supprimer cet article ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
					<button type="button" class="btn btn-danger">Supprimer</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
	<script src="/public/js/fetchURLFor.js" defer></script>
	<script src="/public/js/kamenewsEdit.js" defer></script>
{% endblock %}
